* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: unset;
}

:root {
  /* --border-color: #1ea835; */
  --border-color: #aaa;
  --headings-color: #777;
}

.wrapper {
  width: 100%;
  /* padding: 0 1em; */
  margin: auto;
}

body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings-color);
}

h1 {
  font-size: min(2em, 5vw);
}

h2 {
  font-size: min(1.5em, 4vw);
  font-weight: 100;
}

header {
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
  /* color: #555; */
  /* font-size: min(1em, 2.5vw); */
  position: relative;
}

header *:hover {
  /* border: 1px solid red; */
  cursor: pointer;
}

.app-header-title {
  /* padding: .25em; */
  transition: all .25s;
}

.app-header-title:hover {
  transform: scale(1.05);
  transition: all .25s;
}

.app-header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* padding: .1em .5em .3em .5em; */
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  background-color: #0066ff;
  color: #eee;
}

#cbox-btn {
  display: none;
}

#cbox-btn:checked ~ .app-menu {
  left: 0;
  transition: .25s;
}

.app-menu {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  position: absolute;
  top: 102%;
  left: -100%;
  font-weight: bold;
  /* font-size: 0rem; */
  backdrop-filter: blur(4px);
  transition: .25s;
}

.app-menu > ul {
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

.app-menu > ul li {
  padding: .5em 1em;
  border: 1px solid transparent;
}

.app-menu > ul li:hover {
  background-color: #ddd;
  border: 1px solid var(--border-color);
}

main {
  padding: 1em;
}