.app-guides {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  text-align: center;
  gap: .75em;
}

.app-guides-item {
  border: 1px solid #aaa;
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 0px 0px 7px #ccc;
  color: var(--headings-color);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.app-guides-item:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.app-guides-item img {
  object-fit: cover;
  width: 40%;
  margin-bottom: .5em;
}

.app-guides-item p {
  font-size: min(.75em, 3vw);
}